/*@import '~antd/dist/antd.css';*/
@import '~draft-js/dist/Draft.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

.App {
  text-align: center;
  padding: 16px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 8px; /* 1px wider than Lion. */
  height: 8px;
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb {
  /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
  background: rgba(0,0,0,0.25);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0,0,0,0.3); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}

.ant-select-selection {
  background-color: rgb(235, 235, 235);
  border: 0;
  padding-top: 1px;
}

.ant-select-selection--multiple .ant-select-selection__choice {
  border-radius: 14px;
  border: none;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  background-color: #ffffff;
}

.ant-select-selection--multiple .ant-select-selection__choice:hover {
  background-color: #fefefe;
}

.ant-select-selection--multiple .ant-select-selection__choice__remove {
  margin-top: 1px;
  right: 2px;
}

.ant-select-selection--multiple .ant-select-selection__choice__content {
  padding-right: 4px;
}

.ant-select-selection--multiple {
  border-radius: 24px;
}

.ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active {
  outline: 0;
  box-shadow: none;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1DA57A;
}

.logo {
  height: 32px;
  background: #1DA57A;
  padding: 32px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.db-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 16px;
  box-sizing: border-box;
  align-items: stretch;
}

.results-container {
  flex: 1;
  padding: 16px;
  position: relative;
}

.separator {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.separator.vertical {
  min-width: 1px;
  margin-left: 8px;
  margin-right: 8px;
}

.separator.vertical {
  min-height: 1px;
  margin-top: 8px;
  margin-bottom: 8px;
}

label {
  margin-bottom: 4px;
}

label.title {
  font-weight: bold;
  font-size: 12px;
}

label.primary {
  font-weight: bold;
  color: #1DA57A;
}

.list .ant-checkbox-group-item,
.list .ant-radio-wrapper {
  display: block !important;
  margin-bottom: 4px;
}

.grid {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  grid-gap: 16px;
  box-sizing: border-box;
  padding: 8px;
}

.item {
  background-color: #ffffff;
  height: 215px;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.grid-container {
  position: absolute;
  width: calc(100% - 32px);
  height: calc(100% - 80px);
  top: 54px;
  overflow-y: auto;
}

.ant-card {
  border-radius: 5px !important;
  overflow: hidden;
}

.ant-card-meta-title {
  font-size: 14px !important;
  margin-bottom: 4px !important;
}

.ant-card-meta-description {
  font-size: 12px;
}

.ant-card-small .ant-card-actions li {
  margin: 6px 0 3px 0;
}

.ant-input-search .ant-input {
  border-radius: 25px !important;
}